# Terraform state
*.tfstate
*.tfstate.*
crash.log

# Terraform plan output
*.tfplan

# Sensitive files
.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .terraform directory
.terraform/

# Ignore CLI configuration file
.terraformrc
terraform.rc

# Local execution artifacts
.terraform.lock.hcl

# MacOS files
.DS_Store

# IDE-specific files (optional)
.vscode/
.idea/
*.swp

*.env
